.container {
  width: 430px;
  /* 932 */
  height: 932px; 
  margin: auto;
  margin-top: 75px;
  border-radius: 12px;
  background-color: rgb(242,239,229);
  position: relative;
  color: #3D3B40;
  background-color: #F2EFE5;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.top-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.location-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location-container .icon 
{
  height: 50px;
  width: 50px;
}

.location-container .subcontainer {
  display: flex;
  gap: 10px;
}

.location-container .subcontainer .title{
  font-weight: 700;
  font-size: 18px;
}

.location-container .subcontainer .pin{
  height: 24px;
  width: 24px;
}

.location-container .date 
{
  font-weight: 400;
  font-size: 12px;
}



.bottom-container {
  height: 632px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.affirmation-container {
  position: absolute;
  bottom: -100px;
  width: 609px;
  height: 271px;
  border-radius: 50%;
  background-color: #3D3B40;
}

.affirmation-container .subcontainer 
{
  padding-top: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.affirmation-container .value {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.affirmation-container .icon {
  width: 14px;
  height: 14px;
}

.current-temp {
  font-size: 170px;
  font-weight: 700;
}

.feels-like {
  font-weight: 600;
}

.current-weather {
  font-size: 44px;
  font-weight: 800;
}

.min-max-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}

.min-max 
{
  font-size: 18px;
}

.stats-container {
  background-color: #FFFFFF;
  border-radius: 50px;
  width: 356px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  flex-basis: 0px;
  margin: 0px 20px;
  padding: 10px;
  height: auto;
}

.stats-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-element .icon {
  width: 32px;
  height: 32px;
}

.stats-element .value {
  font-weight: 700;
  font-size: 18;
}

.stats-element .title {
  font-weight: 400;
  font-size: 9px;
}

.forecast-container {
  display: flex;
  gap: 12px;
  flex-direction: row;
  background-color: rgba(227, 225, 217, 45%);
  border-radius: 20px;
  margin: 0px 20px;
  padding: 10px;
}

.forecast-container .element{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-container .subcontainer {
  background-color: white;
  border-radius: 15px;
  padding: 12px;
}

.forecast-container .subcontainer .value{
  font-weight: 600;
  font-size: 24px;
}

.forecast-container .subcontainer .icon{
  width: 36px;
  height: 28px;
}

.top-bar {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-top: 60px;
}

.top-bar input {
  display: flex;
  width: 362px;
  height: 78px;
  background: #ebfffc;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 40px;
  color: #626262;
  font-size: 20px;
  font-weight: 400;
  z-index: 100;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  background: #ebfffc;
  border-radius: 100%;
  cursor: pointer;
}

.blur-circle
{
  background-color: white;
  height: 350px;
  width: 350px;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  border-radius: 100%;
  filter: blur(5rem);
  display: none;
}

.weather-image{
  margin-top: 29px;
  display: flex;
  justify-content: center;
}

.weather-icon
{
  z-index: 200;
}

.weather-temp{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 120px;
  font-weight: 400;
}

.weather-location{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 60px;
  font-weight: 400;
}

.data-container{
  margin-top: 50px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  overflow: visible;
}

.element{
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.data{
  font-size: 34px;
  font-weight: 400;
}

.text{
  font-size: 20px;
  font-weight: 400;
}

.icon{
  margin-top: 10px;
}